body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marker {
  transform: translate(-50%, -100%);
}
.mapboxgl-popup {
  z-index: 1;
}

.mapboxgl-popup-content {
  opacity: .9;
}

.popup {
  width: 25vw;
  padding: .5rem;
  z-index: 1000;
}

.popup img {
  padding: .5rem 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.popup h3,p {
  text-transform: capitalize;
}

svg.marker.yellow  path {
  fill: #f8c102;
}

svg.marker.red path {
  fill:  #f05305;
}

.error {
  color: #f05305;
}

.entry-form label, .entry-form input, .entry-form textarea, .entry-form button {
  margin: 0.5rem auto;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.entry-form button {
  margin-top: 2rem;
  border-radius: .5rem;
  padding: 0.25rem;
  background-color: royalblue;
  color: #fff;
}