body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marker {
  transform: translate(-50%, -100%);
}

.popup {
  width: 25vw;
  padding: 1rem;
}

svg.marker.yellow  path {
  fill: #f8c102;
}

svg.marker.red path {
  fill: #ff0000;
}

.entry-form label, .entry-form input, .entry-form textarea, .entry-form button {
  margin: 0.5rem auto;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.entry-form button {
  margin-top: 2rem;
  border-radius: .5rem;
  padding: 0.25rem;
  background-color: royalblue;
  color: #fff;
}